<div class="row">
<br>
<hr>
  <div class="small-4 columns nopadding">
    <h5>contacts:</h5>
    <ul class="contact-list">
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li>+39 329 9304706</li>
      <li>
          {% include icon-skype.html  %} rinaldi.martin
      </li>
    </ul>
  </div> 

    <div class="small-4 columns nopadding">
      <h5>social:</h5>
      <ul class="inline-list">
        {% if site.facebook_username %}
        <li>
          {% include icon-facebook.html username=site.facebook_username %}
        </li>
        {% endif %}

        {% if site.instagram_username %}
        <li>
          {% include icon-instagram.html username=site.instagram_username %}
        </li>
        {% endif %}

        {% if site.vimeo_username %}
        <li>
          {% include icon-vimeo.html username=site.vimeo_username %}
        </li>
        {% endif %}

      </ul>
    </div>

    <div class="small-4 columns nopadding">
      <p class="text-justify">{{ site.description }}</p>
    </div>
</div>

<script src="{{ "/js/vendor/jquery.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/foundation.min.js" | prepend: site.baseurl }}"></script>

<script>
      $(document).foundation();
</script>

<script src='http://cdn.jsdelivr.net/vivus/0.1.2/vivus.min.js'></script>
<script>
        var hi = new Vivus('hi-there', {type: 'scenario-sync', duration: 20, start: 'autostart', forceRender: false, dashGap: 20}, function () {
          if (window.console) {
            console.log('Animation finished. [log triggered from callback]');
          }
        }),
        obt1 = new Vivus('obturateur1', {type: 'delayed', duration: 150}),
        obt2 = new Vivus('obturateur2', {type: 'async', duration: 150}),
        obt3 = new Vivus('obturateur3', {type: 'oneByOne', duration: 150}),
        pola = new Vivus('polaroid', {type: 'scenario-sync', duration: 20, forceRender: false});
</script>